.auth-wrapper {
  margin-left:10rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  //color:burlywood;

  ul li {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  .auth-form {
    max-width:40rem;
    min-width:32rem;
    width:100%;
    padding:6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    background-image: url('../../assets/images/svitok.png');

    input {
      //padding: 1rem;
      background-color: transparent;
      border:0;
      border-bottom:1px solid black;
      width:30rem;
      outline: none;
    }
    input:focus{
      border:0;
      border-bottom:1px solid black;
    }
   /* button {
      padding: 2rem;
      background-color: aquamarine;
    }*/
    .button-ok{
      width:30rem;
      height:10rem;
      border:0;
      
    }
  }
}
