:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

body,
html {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #261c17;
}

@font-face {
  font-family: 'Potta One';
  src: url('../assets/fonts/PottaOne-Regular.woff');
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: white;
}
