.test {
  width: 100px;
  height: 100px;
  background-color: green;
}

.test-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.test-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: yellow;
}
